.div-container-fp {
    max-width: 600px;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & .div-container-fp__h1 {
        font-size: 1.5rem;
        font-family: "Inter", sans-serif;
        font-weight: 400;
        letter-spacing: .25rem;
        color:#000000;
    }

    & .div-container-fp__div-header {
        width: 20rem;
        height: auto;
        margin-top: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        text-align: center;
        gap: .75rem;
        font-family: "Inter", sans-serif;
        color: #000000;

        & .div-container-fp__div-header__span {
            font-size: 1.25rem;
            font-weight: 500;
        }

        & .div-container-fp__div-header__p {
            font-size: 1rem;
            font-weight: 200;
            line-height: 150%;
        }
    }

    & .div-container-fp__form {
        margin-top: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: .75rem;

        & .div-container-fp__form__input {
            width: 18.75rem;
            height: 3.125rem;
            padding-left: 1rem;
            border: 1px solid #000000;
            font-family: "Inter", sans-serif;
            font-size: .875rem;
            font-weight: 300;
            color: #606060;
        }

        & .div-container-fp__form__button {
            width: 18.75rem;
            height: 3.125rem;
            margin-top: .75rem;
            font-family: "Inter", sans-serif;
            font-size: .875rem;
            font-weight: 500;
            border: none;
            color: #ffffff;
            background-color: #000000;
        }
    }

    & .div-container-fp__div-back-login {
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .25rem;
        margin-top: 1.5rem;
        font-family: "Inter", sans-serif;
        font-size: .875rem;
        font-weight: 300;

        & .div-container-fp__div-back-login__icon {
            width: 1.5rem;
        }

        & .div-container-fp__div-back-login__p {
            font-family: "Inter", sans-serif;
            font-size: .875rem;
            font-weight: 300;

            & .div-container-fp__div-back-login__p__span {
                font-weight: 500;
            text-decoration: underline;
            text-underline-offset: .25rem;
            }
        }
    }
}