.modal-email {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    /* From https://css.glass */
    background: rgba(20, 20, 20, 0.6);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.icon-email {
    width: 2.25rem;
}

.div-container-email {
    width: 18.75rem;
    height: 17.25rem;
    margin: 0 auto;
    padding: 1.5rem;
    margin-top: 11.875rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 12px;
    background-color: #ffffff;
    border-radius: .625rem;
    font-family: "Inter", sans-serif;
    

    & .div-container-email__span {
        margin-top: .75rem;
        font-size: 1.25rem;
        font-weight: 500;
    }

    & .div-container-email__p {
        font-size: .875rem;
        line-height: 150%;
        font-weight: 300;
    }

    & .div-container-email__button {
        width: 13.5625rem;
        height: 3.125rem;
        margin-top: .75rem;
        background-color: #000000;
        color: #ffffff;
        border: none;
        font-size: .875rem;
        font-weight: 400;
    }
}