.layout {
    width: 100%;
    height: 100vh;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (width >= 600px) {
    .layout{
        padding: 1.5rem;
    }
}